@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.total-estimate {
    border-bottom: 1px solid rgb(236 239 241);
    border-top: 1px solid rgb(236 239 241);
    padding: 0 16px;
}