#Customize .header {
    margin-top: 34px;
    margin-bottom: 34px;
}

#Customize .item {
    margin-bottom: 28px;
}

#Customize .radio {
    margin-right: 24px;
}

#Customize .material {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

#Customize .material-item {
    margin-right: 5%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

#Customize .material-item:hover {
    cursor: pointer;
}

#Customize .material img {
    margin-top: 5px;
    max-width: 150px;
}

#Customize .material p {
    width: 100%;
    margin-top: 12px;
    margin-left: 24px;
    font-weight: bold;
}

#Customize .material .checked {
    border: 1px solid rgb(66 165 245 / 1);

}

.submit-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.btn-customize-submit {
    display: flex;
    align-items: center;
}

.total {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: nowrap;
    margin-top: 24px;
}

.total-number {
    font-size: 1.125rem!important;
    line-height: 1.75rem!important;
    font-weight: 600;
    background-color: rgb(34 34 34 / 5%);
    margin-left: 18px;
    padding: 6px;
}

#Customize .size {
    margin-right: 5%;
    max-width: 100px;
    margin-top: 5px;
}